@import "filterProduct/filterProduct";
@import "products/products";
@import "basket/basket";

.market-container {
  display: flex;
  justify-content: space-between;
  padding: 4em 8em;
}

@media (max-width: $laptop-screen) {
  .market-container {
    flex-direction: column;
    justify-content: center;
    padding: 2em 4em;
  }
}

@media (max-width: $mobile-breakpoint) {
  .market-container {
    padding: 1em;
  }
}
