.market-filter-list-container {
  .market-filter-list{
    max-height: 150px;
    overflow-x: auto;

    .ant-checkbox-group {

      .ant-checkbox-wrapper {
        padding-bottom: 0.5em;

        .ant-checkbox {
          margin-right: 1em;

          input {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

  }

  .market-filter-list-search {
    padding-bottom: 1em;
  }
}
