@import "productItem/productItem";

.products-container {
  margin: 0 1em;
  width: 100%;

  .products-header {
    color: #6F6F6F;
    font-size: 20px;
  }

  .products-item-container {
    background: $light-background;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
  }

  .products-button-filters {
    padding: 1em 0;

    button {
      margin-right: 0.5em;
      border: none;
      font-weight: 600;
    }

    .market-button {
      background: $market-blue;
      color: $light-text-color;
    }

    .market-outlined-button {
      background: #F2F0FD;
      color: $market-blue;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .products-container {
    margin: 0;
  }
}

