.product-item-container {
  width: 25%;
  padding: 0.5em;
  position: relative;
  padding-bottom: 3em;
  .product-item-image {
    width: 100%;
    height: 124px;
    border: 1.18px solid #F3F0FE;
    display: flex;
    flex-direction: column;
    border-radius: 12px;

    .item-image {
      background: #C4C4C4;
      margin: 1em;
      height: 100%;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }

  .product-item-price {
    color: $blue-text-color;
    font-weight: 600;
    padding: 0.3em 0;
  }

  .product-item-label {
    color: $dark-text-color;
    font-weight: 600;
    padding: 0.3em 0;
  }

  .product-item-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-right: 1em;
    button {
      background: $market-blue;
      color: $light-text-color;
      width: 100%;
      font-size: 12px;
      border: none;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .product-item-container{
    width: 33%;
  }
}

@media (max-width: $mobile-breakpoint) {
  .product-item-container {
    width: 50%;
  }
}
