.header {
  height: 76.64px;
  background: $market-blue;
  padding: 0 8em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  .app-logo{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: $tablet-breakpoint) {
  .header {
    padding: 0;
    & .app-logo{
      left: 6em;
    }
  }
}
