.basket-container {
  width: 45%;
  border: 8px solid $market-blue;
  border-radius: 2px;
  padding: 1em;
  height: 100%;

  .basket-item-container {
    display: flex;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 0.5em;
    border-bottom: 1px solid #F4F4F4;

    .basket-item-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      text-overflow: clip;

      .item-price {
        color: $market-blue;
        font-weight: 600;
      }
    }

    .item-add-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .item-amount {
        background: $market-blue;
        padding: 0 0.5em;
        color: $light-text-color;
      }
    }
  }

  .total-amount-container {
    display: flex;
    justify-content: flex-end;
    margin: 1em 0;

    .total-amount {
      border-radius: 2px;
      padding: 0.6em 1.2em;
      border: 2px solid $market-blue;
      color: $market-blue;
    }
  }
}

@media (max-width: $laptop-screen) {
  .basket-container {
    width: 100%;
    margin: 1em 0;
  }
}
