@import "filterProductItem/filterProductItem";

.filter-product-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

@media (max-width: $laptop-screen) {
  .filter-product-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: $mobile-breakpoint) {
  .filter-product-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
