$market-blue: #1EA4CE;
$market-dark-blue: #147594;
$light-text-color: #FFFFFF;
$dark-text-color: #191919;
$label-color: #697488;
$market-background: #FAFAFA;
$light-background: #FFFFFF;
$blue-text-color: #1EA4CE;

$filter-item-text-color: #525252;
$filter-item-border-color: #E0E0E0;

$mobile-breakpoint: 624px;
$tablet-breakpoint: 768px;
$laptop-screen: 1024px;
