.filter-product-item-container {
  width: 100%;
  padding-bottom: 1.6em;

  & > label {
    font-size: 13px;
    color: $label-color;
    font-weight: 600;
  }

  .filter-product-item {
    background: $light-background;
    padding: 1em;
    margin-top: 0.8em;
    .ant-space-item{
      padding-bottom: 0.5em;
      .ant-radio-wrapper{
        color: $filter-item-text-color;
        .ant-radio{
          margin-right: 1em;
        }
      }
    }
  }
}

